{{extend 'layout.html'}}
<h1>Pending Approvals</h1>

<table width="100%" class="table-style">
<tr>
    <td><h3>Name</h3></td>
    <td><h3>Category</h3></td>
    <td><h3>Status</h3></td>
    <td><h3>Submitted by</h3></td>
    <td><h3>Screenshot</h3></td>
    <td><h3>Approve?</h3></td>
</tr>
{{for row in rows:}}
<tr>
    <td>{{=row.name}}</td>
    <td>{{=row.category}}</td>
    <td>{{=row.status}}</td>
    <td>{{=row.submitby.first_name}} {{=row.submitby.last_name}}</td>
    <td align="left"><img src="{{=URL('download',args=row.screenshot1)}}" width=100/></td>
    <td>{{if (row.status=='Approved'):}}Approved{{else:}}<button onclick="ajax('{{=URL('approve',args=(row.id))}}',[],null); $(this).parent().html('Approved')">Approve</button>{{pass}}</td>
</tr>
{{pass}}
</table>
