{{extend 'layout.html'}}
<h1>{{=title}}</h1>
<div>
    {{=A('Submit new place', _href=URL('submitnewplace'))}}
</div>
<table>
    <tr>
        <td><b>Id</b></td>
        <td><b>Image</b></td>
        <td><b>Name</b></td>
    </tr>
    {{for row in rows:}}
    <tr>
        <td>{{=row.id}}</td>
        <td><img src="{{=URL('download',args=row.screenshot1)}}" width="150px" class="scr1" alt="{{=row.name}}"/></td>
        <td><a href="{{=URL('showplace',args=row.id)}}">{{=row.name}}</a></td>
    </tr>
    {{pass}}
</table>
