{{extend 'layout.html'}}
<h1>{{=title}}</h1>
{{if len(row):}}
    {{for r in row:}}
<div id="page-author">
    Created by: {{=r.submitby.first_name}} {{=r.submitby.last_name}} 
</div>
<table>
    <tr>
        <td>
             <img src="{{=URL('download',args=r.screenshot1)}}" height="60px" class="scr1" alt="{{=r.name}}"/>
            <img src="{{=URL('download',args=r.screenshot2)}}" width="300px" class="scr2" alt="{{=r.name}}"/>
        </td>
    </tr>
    <tr>
        <td>
            <h3><b>Description:</b></h3>
              {{=r.descr}}
        </td>
    </tr>
    <tr>
        <td>
            <h3><b>Location:</b></h3>
            <h2><b>Map:</b></h2>
            map here:
              {{=plugin_wiki.widget('map',key='localhost',table='places', width=500, height=500)}}
            <h2><b>Video:</b></h2>
              {{=plugin_wiki.widget('youtube',code=r.youtubekey)}}
        </td>
    </tr>
</table>
    {{pass}}
<h2>Reviews</h2>
<div id="reviews-container">
    {{for re in reviews:}}
    <div class="review">
        <h4>{{=re.title}}</h4>
        {{=re.review_txt}}<br/>
        <i>{{=re.rec_dt}}</i>
    </div>
    <hr/>
    {{pass}}
</div>    
{{else:}}
    <h2>Nothing found!</h2>
{{pass}}
<h3>Post your reviews here:</h3>
{{=reviewform}}
